<!DOCTYPE html>
<html>
<header>
    <title>QCM</title>    
   
     <link rel="stylesheet" type="text/css" href="/assets/semantic/semantic.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <style>
    #global_form {
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
        }
        h3 {padding-left:2em;}
    </style>
</header>
    
    
    
    
<body>
<!-- MENU -->
<div class="ui inverted menu">
    <a class="item" href="/">
      Accueil
  </a>
  <a class="item" href="/create_exercice">
    Créer un exercice
  </a>
  <a class="item" href="/liste">
    Liste des exercices
  </a>
   <span id="connectionLink"> <a class="item" href="/login">
Connexion </a></span>
</div>