<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Login Example - Semantic</title>
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/reset.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/site.css">

  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/container.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/grid.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/header.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/image.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/menu.css">

  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/divider.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/segment.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/form.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/input.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/button.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/list.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/message.css">
  <link rel="stylesheet" type="text/css" href="/assets/semantic/components/icon.css">

  <script src="/assets/library/jquery-3.4.1.min.js"></script>
  <script src="/assets/semantic/components/form.js"></script>
  <script src="/assets/semantic/components/transition.js"></script>

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>
    
    <script>
    var form = document.querySelector('form');
			form.addEventListener("ui fluid large teal submit button", loginUser);	
			function loginUser(event) {				
                loginUserWithXHR(event);
			}	
			
			function loginUserWithXHR(event) {		
				event.preventDefault();
                console.log('loginUserWithXHR');		
				// https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/send
				var xhr = new XMLHttpRequest();
				xhr.open("POST", '/loginProtected', true);
				//Send the proper header information along with the request
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhr.onreadystatechange = function() {//Call a function when the state changes.
					if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
						form.reset();
					}
				}				
				var email = document.getElementById('email').value;
				var password = document.getElementById('password').value;
				var payLoad = "email=" + email + "&" + "password=" + password; 
				xhr.send(payLoad);
                console.log("------- SCRIPT -------")
			}
    
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    
    
    
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
      
      
    <form action="/loginProtected" method="POST" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Login</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/signup">Sign Up</a>
    </div>
      <div class="ui message">
      <a href="/"> Accueil </a>
      </div>
    <div class="ui main container">
<!-- en cas d'erreur -->
<% if (locals.flash && locals.flash.error) { %>
<div class="ui negative message"><strong>
    <%= flash.error %></strong></div>
<% } %> 
<!-- en cas de succes -->
<% if (locals.flash && locals.flash.success) { %>
<div class="ui positive message"><strong>
    <%= flash.success %></strong></div>
<% } %>
  </div>
</div>
</div>
    
    

</body>

</html>